body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    overflow-wrap: break-word;
    background-color: #B0BEC5;
    margin: 0;
    padding: 0;
}


/*Mobile web app framework: https://github.com/twbs/ratchet/ */

div {
    box-sizing: border-box;
    overflow: hidden;
}

.pull-right {
    position: absolute;
    right: 0;
}

section, header, footer {
    box-sizing: border-box;
    overflow: hidden;
}


header {
    /* where */
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    /* how*/
    color: #ECEFF1;
    background-color: rgba(38, 50, 56, 0.9);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px;
    /* Seems table only has no side effects on Android Browser when zoomed in/out */
    padding: 0 16px;
}

header > div {
    height: 40px;
    display: inline-block;
}

header h1 {
    margin: 0;
    font-weight: 400;
    line-height: 40px;
}

header a {
    color: inherit;
    line-height: 40px;
    margin-right: 16px;
}

section {
    /* where */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    /* how */
    overflow-y: auto;
}

footer {
    /* where */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /* how */
    /*max-width: 40em;*/
    /*padding: 8px;*/
    /*background-color: white;*/
    /*border-top: solid 1px #546E7A;*/
}

.wrap-input {
    margin: 0 auto;
    max-width: 40em;
    padding: 8px;
    background-color: white;
    border-top: solid 1px #546E7A;
}

.wrap-messages {
    margin: 0 auto;
    max-width: 40em;
    /* Top padding is equal to the height of the header */
    padding-top: 4em;
    /* Bottom padding is equal to the height of the footer */
    padding-bottom: 6em;
    background-color: white;
}

#input_message {
    /* where */
    margin-left: auto;
    margin-right: auto;
    /* how */
    /* essential */
    overflow-x: none;
    overflow-y: auto;
    word-wrap: break-word;
    /* optional */
    height: 4em;
    /*height: 100%;*/
    padding: 0.3em 1em;
    /* disables focus rectangle */
    outline: 0;
    border-radius: 2px;
    background-color: white;
}


[contenteditable=true]:not(:focus):empty:before{
  content: attr(placeholder);
  color: gray;
}
