body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    overflow-wrap: break-word;
    background-color: #B0BEC5;
    padding: 0;
    margin: 0;
}


/*Mobile web app framework: https://github.com/twbs/ratchet/ */

div {
    box-sizing: border-box;
    overflow: hidden;
}


header {
    /* where */
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    /* how*/
    color: #ECEFF1;
    background-color: rgba(38, 50, 56, 0.9);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px;
    padding: 0 16px;
    box-sizing: border-box;
}

header * {
    margin: 0;
    line-height: 40px; /* should be equal to the header height */
    display: inline-block;
    color: inherit;
}

header > div {
    height: 40px;
}

header > a {
    color: inherit;
    text-align: right;
}

.pull-right {
    float: right;
}

footer {
    /* where */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /* how */
    max-width: 40em;
    padding: 8px;
    box-sizing: border-box;
    background-color: white;
    border-top: solid 1px #546E7A;
}

.wrap-messages {
    margin: auto;
    max-width: 40em;
    /* Top padding is equal to the height of the header */
    padding-top: 4em;
    /* Bottom padding is equal to the height of the footer */
    padding-bottom: 6em;
    background-color: white;
}

#input_message {
    /* where */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* how */
    /* essential */
    overflow: auto;
    overflow-y: auto;
    word-wrap: break-word;
    /* optional */
    height: 4em;
    /*height: 100%;*/
    padding: 0.3em 1em;
    /* disables focus rectangle */
    outline: 0;
    border-radius: 2px;
    background-color: white;
}


[contenteditable=true]:not(:focus):empty:before{
  content: attr(placeholder);
  color: gray;
}
